* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.site {
	width: 1239px
}

header {
	background-color: #3A3A3B;
	height: 75px;
	display: inline-block;
	width: 100%;
}

nav {
	display: inline-block;
	width: 50%;
	padding-right: 50px;
}

h1 { 
	display: inline-block;
	padding-top: 0px;
}

header h1 a {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-left: 30px;
	letter-spacing: 2px;
}

nav ul li {
	display: inline-block;
	font-size: 20px
	padding: 15px;
	margin-right: 10px;
}

ul { 
	padding-left: 50%; 
	padding-right: 30px;
	display: inline;
	list-style: none;

}

li > a {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-size: 20px;
	padding-top: 15px;

}

header nav ul li span { 
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: white; }

nav a {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 5px;
}

hr {
	color: #F9D634;
	background-color: #F9D634;
	height: 5px;
	border: 0;
	margin: 0;
}

.heads {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 25px;
	width: 100%;
	background-color: #D6E1DC;
	height: 70px;
	margin: 0;
	text-align: center;
	line-height: 70px;
	position: absolute; 
	top: 0px;
	left: 0px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #818382;
	border-top: solid;
	border-top-width: 0.2px;
	border-top-color: #818382;
}

.picture {
	width: 100%;
	position: relative;
	left: 0px;
}

img {
	border: solid;
	border-width: 1px;
	border-color: #818382;
}

.square { 
	width: 488px;
	height: 340px;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
  	top: 110px;
  	left: 715px;
  	border: solid;
  	border-width: 0.5px;
  	border-color: #A1A1A1;
  }

.square h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 25px;
	padding-left: 40px;
	padding-top: 30px;
}

.square p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding-left: 40px;
	margin:0;
	line-height: 160%;
}

.square a {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	height: 53px;
	width: 399px;
	background-color: #E6403D;
	text-decoration: none;
	display: inline-block;
	border: none;
	text-align: center;
	line-height: 53px;
	color: white;
	margin-left: 40px;
	border-radius: 5px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-bottom-color: #C63432;
	margin-top: 20px;	
	letter-spacing: 2px;
}

.profile {
	width: 410px;
	height: 230px;
	display: inline-block;
	border-right: solid;
	border-right-width: 1px;
	border-right-color: #D8D8D8;
	padding-right: 30px;
}

.developer {
	width: 410px;
	height: 230px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
	border-right: solid;
	border-right-width: 1px;
	border-right-color: #D8D8D8;
	padding-right: 10px;
}

.designer {
	width: 410px;
	height: 230px;
	display: inline-block;
}

.bottombar h3 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 25px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
	margin: 0px;
}

.bottombar p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	padding-top: 0px;
	width: 100%;
	margin: 0px;
	margin-right: 0px;
	padding-left: 30px;
	padding-top: 10px;

}

.bottombar a {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	height: 53px;
	width: 338px;
	background-color: #D6E1DC;
	text-decoration: none;
	display: inline-block;
	border: none;
	text-align: center;
	line-height: 53px;
	color: #080808;
	margin-left: 35px;
	border-radius: 5px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-bottom-color: #B1B9B8;
	margin-top: 25px;	
	letter-spacing: 2px;
}

footer { 
	background-color: #3A3A3B;
	height: 85px;
	display: inline-block;
	width: 100%; 
}

footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: white;
	padding-left: 30px;
	padding-top: 10px;
}
